html{
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;

}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* tino contant ko arrange karne ke liye ak line me */

}    
.nav .startnav {
    list-style-type: none;
}
    

.nav .midnav{
    list-style-type: none;
    display: flex;
}
.nav .midnav li a{
    text-decoration: none;
    padding: 20px;
}
.nav .endnav{
    list-style-type: none;

}
.nav .endnav li a{
    text-decoration: none;
    border: 2px solid blue;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: blue;
    
}
/* ------end navbar css-----*/
.hero{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    background-image: none;
    padding-top: 100px;

}
.hero div img{
    width: 500px;
}
.hero .hero1{
    padding: 100px;
    
}
.hero .hero1{
    padding-top: 50px;
}