
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

div{
    font-size:32px;
    color: deeppink;
    font-family: 'Protest Riot', sans-serif; 
   margin: 20px;
}
table tr td a {

  text-decoration: none;
}
table tr td h3 u {
  text-decoration: none;
}
}
body &nbsp; a href {
  text-decoration: none;
  padding: 2px;
}